/*ÃREA PRINCIPAL ------->>>*/
.main {
    display: flex;
    flex-direction: column;
    row-gap: var(--mainSpacing);
    width: 50%;
}

.main__code-container {
    background-color: #6BD1FF;
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: var(--mainBorderRadius);
}

.main__code-icon {
    background-color: var(--codePanelColor);
    display: flex;
    padding: 16px;
    border-radius: var(--mainBorderRadius) var(--mainBorderRadius) 0px 0px;
}

.main__code {
    padding: 0px 16px 16px 16px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: var(--mainFontWeight);
    line-height: 1.5;
    border: none;
    outline: none;
    border-radius: 0px 0px var(--mainBorderRadius) var(--mainBorderRadius);
    white-space: pre-wrap;
}

/*QUERIES ------->>>*/
@media screen and (max-width: 1200px) {
    .main {
        width: 100%;
    }
}