.nav-mobile {
    position: absolute;
    right: 0px;
    background-color: var(--navMobileColor);
    display: none;
    flex-direction: column;
    width: 256px;
    height: 100%;
    padding: 24px;
    border-radius: var(--mainBorderRadius) 0px 0px 0px;
    box-sizing: border-box;
    z-index: 10;
}

.nav-mobile hr {
    border: 1px solid var(--inputHoverColor);
    width: 100%;
    margin: 24px 0px;
}

.nav-mobile .menu__user {
    width: fit-content;
}

.nav-mobile .menu__user:hover {
    background-color: #0B254A40;
}

.nav-mobile .menu__user:active {
    background-color: #112D5A40;
}

.nav-mobile .nav {
    width: 100%;
}